
body {
    font-family: sans-serif;
    background: #ffe6f0; /* fondo rosado de toda la página */
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #800080; /* título morado */
}
#malla {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.ramo {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 180px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
    white-space: pre-line;
    color: #4b0082; /* texto normal morado oscuro */
}
.ramo.aprobado {
    background-color: white;
    color: #800080; /* texto morado fuerte */
    text-decoration: line-through;
    border: 2px solid #800080;
    font-weight: bold;